[submodule "solarized"]
	path = solarized
	url = git://github.com/altercation/solarized.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = git@github.com:ervandew/supertab.git
[submodule "oh-my-zsh/custom/themes/powerlevel9k"]
	path = oh-my-zsh/custom/themes/powerlevel9k
	url = git@github.com:bhilburn/powerlevel9k.git
