"*":
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "autocomplete-atom-api"
      "background-tips"
      "dev-live-reload"
      "exception-reporting"
      "language-clojure"
      "language-go"
      "language-java"
      "language-less"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-php"
      "language-python"
      "language-sql"
      "language-toml"
      "metrics"
      "open-on-github"
      "release-notes"
      "styleguide"
      "timecop"
      "welcome"
      "vim-mode"
      "deprecation-cop"
      "package-generator"
      "linter-jshint"
      "linter-rubocop"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "*.meta"
    ]
    projectHome: "~/devel"
  editor:
    fontFamily: "Monaco"
    fontSize: 15
    invisibles: {}
    showInvisibles: true
  "language-babel":
    suppressTranspileOnSaveMessages: true
  linter: {}
  "linter-jshint": {}
  "linter-rubocop": {}
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.plain"
      "text.plain.null-grammar"
    ]
  minimap:
    absoluteMode: true
  "one-dark-ui":
    layoutMode: "Compact"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.ruby"
      "source.js"
    ]
  "the-closer":
    closeWindowTogetherWithLastTab: false
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
